body {
	background-color: white;
	font-family: sans-serif;
}

.wireframe {
	margin: 0;
	padding: 0;
}

.wireframe section {
	margin: 1em;
	background-color: whitesmoke;
	border: 1px solid gainsboro;
	font: small sans-serif;
	text-align: center;
	color: silver;
}

.wireframe h1 {
	font-weight: 100;
}