body {
	background-color: white;
	font-size: 100%;
	font-family: Gill Sans, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}

.wireframe {
	margin: 0;
	padding: 0;
}

.wireframe section,
.wireframe nav,
.wireframe .menu {
	margin: 1em;
	background-color: whitesmoke;
	border: 1px solid gainsboro;
	font: small sans-serif;
	text-align: center;
	color: gray;
	margin: 1em;
}

.wireframe .menu {
	position: absolute;
	top: 0;
	right: 0;
	background-color: gainsboro;
	padding: 0.5em;
}

.wireframe h1 {
	font-weight: 100;
}

.wireframe #book-title	{ height: 5em; }
.wireframe #synopsis	{ height: 30em; }
.wireframe #purchase	{ height: 20em; }
.wireframe #resources	{ height: 50em; }
.wireframe #errata		{ height: 40em; }
.wireframe nav			{ height: 10em; }
